<div class="row">
  <div class="col-md-2 mt-3">
    <button
      class="btn btn-primary btn-sm icon"
      (click)="goCreate()"
      data-toggle="tooltip"
      data-placement="top"
      title="Add user"
    >
      <i class="fas fa-user-plus fa-lg"></i>
    </button>
  </div>
  <div class="col-md-8 mt-3"></div>
  <!-- Needs to return to Login page not home -->
  <div class="col-md-2 mt-3 text-right">
    <button
      class="btn btn-primary btn-sm"
      [routerLink]="['/home']"
      data-toggle="tooltip"
      data-placement="top"
      title="Log out"
    >
      <i class="fas fa-sign-out-alt"></i>
    </button>
  </div>
</div>
<!-- <div class="card-body"> -->

<!-- <div class="row" *ngIf="dataFromChild">
    <div class="col-md-4">
        <h5>{{ dataFromChild?.FirstName + " " + dataFromChild?.LastName
            + " " + dataFromChild?.Email}}
        </h5>
    </div>
</div> -->
<!-- button to navigate -->
<br />

<div class="card shadow-lg mb-5 bg-white rounded">
  <div class="card-header">
    <div class="form-group col-md-4">
      <input
        type="text"
        class="form-control"
        placeholder="Search..."
        [(ngModel)]="listFilter"
      />
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover" *ngIf="users && users.length">
      <thead class="thead-light">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email Address</th>
          <th>Job Role</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngFor="let user of filterUsers" (click)="goDetails(user)">
        <!-- data-toggle="modal"
    data-target="#exampleModal" -->
        <tr
          data-toggle="tooltip"
          data-placement="top"
          title="Click for details"
        >
          <!-- loop through users -->
          <!-- <app-user-list [user]="user" (notify)="handleNotify($event)"></app-user-list> -->

          <!-- data-toggle="tooltip" data-placement="top" title="click for details" -->
          <td>{{ user.FirstName | capFirstLetter }}</td>
          <!-- <a [routerLink]="['/users', user.UserId]">
                {{ user.FirstName }}
            </a> -->
          <!-- </td> -->
          <td>{{ user.LastName | capFirstLetter }}</td>
          <td>{{ user.Email }}</td>
          <td>{{ user.JobRoleID }}</td>
          <td
            class="td-btn"
            data-toggle="tooltip"
            data-placement="top"
            title="Edit"
          >
            <button class="btn btn-primary btn-sm" (click)="goEdit(user)">
              <i class="far fa-edit"></i>
            </button>
          </td>
          <td
            class="td-btn"
            data-toggle="tooltip"
            data-placement="top"
            title="Delete"
          >
            <button class="btn btn-primary btn-sm" (click)="goDelete(user)">
              <i class="far fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
