input {
    background-color: #4f6c8a;
    border-color:#4f6c8a;
}
::placeholder {
    color: whitesmoke;
}
input:focus::-webkit-input-placeholder{
    color: gray;
}
.card-header {
    padding: 0;
    background-color: #4d749c;
    padding-top: 15px;
    padding-left: 15px;
}
.btn-primary {
    background-color: #4d749c;    
    border-color: #4d749c;
  }
.card-body {
    padding-bottom: 0;
    background-color: #f8f9fa;
}
.table {
    background: #f8f9fa;
}
.table-hover tbody tr:hover td {
    background: #79a0ca;
    color: whitesmoke;
}