input {
  background-color: #4f6c8a;
  border-color: #4f6c8a;
}
::placeholder {
  color: whitesmoke;
}
input:focus::-webkit-input-placeholder {
  color: gray;
}
.card-header {
  padding: 0;
  background-color: #4d749c;
  padding-top: 15px;
  padding-left: 15px;
}
.btn-primary {
  background-color: #4d749c;
  border-color: #4d749c;
}
.card-body {
  padding-bottom: 0;
  background-color: #f8f9fa;
}
.table {
  background: #f8f9fa;
}
.table-hover tbody tr:hover td {
  background: #79a0ca;
  color: whitesmoke;
}
.td-btn {
  padding-left: 0;
  padding-right: 0;
}
.icon.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(83, 82, 82, 0.1),
    0 2px 10px 0 rgba(0, 0, 0, 0.19);
}
