<!-- <div class="row">
    <div class="col-md-10 mb-3"></div>
    <div class="col-md-2 mb-3">
        <a [routerLink]="['/home']">
            Log out
        </a>
    </div>
</div>
<div class="card shadow-lg mb-5 bg-white rounded">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <h3>{{users.FirstName}}</h3>
    </div>
    <div class="card-footer">
        <button class="btn btn-outline-primary btn-sm" (click)="onBack()">
            Back
        </button>
    </div>
</div> -->
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal"
    data-target="#exampleModal">
    Launch demo modal
</button> -->

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1"
    role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card shadow-lg mb-5 bg-white rounded">
                    <div class="card-header">
                        {{pageTitle}}
                    </div>
                    <div class="card-body">
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-outline-primary btn-sm" (click)="onBack()">
                            Back
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div> -->

<div class="row">
  <div class="col-md-2 mb-3 mt-3">
    <button class="btn btn-primary btn-sm" (click)="onBack()">
      <!-- onclick -->
      <i class="fas fa-arrow-left"></i>
    </button>
  </div>
  <div class="col-md-8 mb-3"></div>
  <!-- Needs to return to Login page not home -->
  <div class="col-md-2 mb-3 mt-3 text-right">
    <button class="btn btn-primary btn-sm" [routerLink]="['/home']">
      Log out
    </button>
  </div>
</div>
<div class="card shadow-lg mb-5 bg-white rounded">
  <div class="card-body">
    <div class="card-title mb-3">
      <h3 class="text-center">
        {{ user.FirstName | capFirstLetter }}'s {{ pageTitle }}
      </h3>
    </div>
    <form *ngIf="user" class="my-form">
      <div class="form-row">
        <div class="col-md-2 mb-3">
          <label for="first-name">First Name: </label>
        </div>
        <div class="col-md-4 mb-3">
          <h5>{{ user.FirstName | capFirstLetter }}</h5>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-2 mb-3">
          <label for="last-name">Last Name: </label>
        </div>
        <div class="col-md-4 mb-3">
          <h5>{{ user.LastName | capFirstLetter }}</h5>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-2 mb-3">
          <label for="email">Email: </label>
        </div>
        <div class="col-md-6 mb-3">
          <h5>{{ user.Email }}</h5>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-2 mb-3">
          <label for="phone">Phone Number: </label>
        </div>
        <div class="col-md-3 mb-3">
          <h5>
            {{ user.Phone | slice: 0:3 }}-{{ user.Phone | slice: 3:6 }}-{{
              user.Phone | slice: 6:10
            }}
          </h5>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary col-md-2" [routerLink]="['/users']">
          OK
        </button>
      </div>
    </form>
  </div>
</div>
