<div class="row">
  <div class="col-md-2 mb-3 mt-3">
    <button class="btn btn-primary btn-sm" (click)="onBack()">
      <!-- onclick -->
      <i class="fas fa-arrow-left"></i>
    </button>
  </div>
  <div class="col-md-8 mb-3"></div>
  <!-- Needs to return to Login page not home -->
  <div class="col-md-2 mb-3 mt-3 text-right">
    <button class="btn btn-primary btn-sm" [routerLink]="['/home']">
      Log out
    </button>
  </div>
</div>
<div class="card shadow-lg mb-5 bg-white rounded">
  <div class="card-body">
    <div class="card-title mb-3">
      <h3 class="text-center">
        Update {{ user.FirstName | capFirstLetter }}'s information
      </h3>
    </div>
    <form #userForm="ngForm" (ngSubmit)="update(user.UserID, user)" novalidate>
      <div class="form-row">
        <!-- [(ngModel)] databind users-->
        <div class="col-md-6 mb-3">
          <label>First Name</label>
          <input
            type="text"
            #FirstName="ngModel"
            name="FirstName"
            class="form-control"
            required
            minlength="3"
            [class.is-invalid]="FirstName.invalid && FirstName.touched"
            [(ngModel)]="user.FirstName"
          />
          <div *ngIf="FirstName.touched && FirstName.errors">
            <div class="alert alert-danger" *ngIf="FirstName.errors.required">
              First name is required
            </div>
            <div class="alert alert-danger" *ngIf="FirstName.errors.minlength">
              First name must be at least 3 characters long
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="last-name">Last Name</label>
          <input
            type="text"
            #LastName="ngModel"
            name="LastName"
            class="form-control"
            required
            [class.is-invalid]="LastName.invalid && LastName.touched"
            [(ngModel)]="user.LastName"
          />
          <div *ngIf="LastName.touched && LastName.errors">
            <div class="alert alert-danger" *ngIf="LastName.errors.required">
              Last name is required
            </div>
            <!-- <div class="alert alert-danger" *ngIf="LastName.errors.minlength">
              First name must be at least 3 characters long
            </div> -->
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label>Email</label>
          <input
            type="email"
            #Email="ngModel"
            name="Email"
            class="form-control"
            required
            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            [class.is-invalid]="Email.invalid && Email.touched"
            [(ngModel)]="user.Email"
          />
          <div *ngIf="Email.touched && Email.errors">
            <div class="alert alert-danger" *ngIf="Email.errors.required">
              Email is required
            </div>
            <div class="alert alert-danger" *ngIf="Email.errors.pattern">
              Invalid email format (e.g. example@example.com)
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label>Phone Number</label>
          <input
            type="tel"
            #Phone="ngModel"
            required
            pattern="^[7-9][0-9]{9}$"
            maxlength="10"
            minlength="10"
            class="form-control"
            name="Phone"
            [class.is-invalid]="Phone.invalid && Phone.touched"
            [(ngModel)]="user.Phone"
            placeholder="e.g. 123-456-7890"
          />
          <div *ngIf="Phone.touched && !Phone.valid">
            <div class="alert alert-danger" *ngIf="Phone.errors.required">
              Phone number is required.
            </div>
            <div class="alert alert-danger" *ngIf="Phone.errors.pattern">
              Invaild Phone number
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="job-role">Select Job Role</label>
          <select class="custom-select">
            <option selected>Job Role</option>
            <option value="1">Role One</option>
            <option value="2">Role Two</option>
            <option value="3">Role Three</option>
          </select>
        </div>
      </div>
      <div class="text-center">
        <button
          class="btn btn-primary col-md-2"
          type="submit"
          [disabled]="userForm.form.invalid"
          data-toggle="modal"
          data-target="#addedModal"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>
<br />
<div
  class="modal fade"
  id="addedModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title text-center" id="exampleModalLabel">
            {{ user.FirstName | capFirstLetter }}'s information updated
          </h5>
        </div>
        <div class="card-body">
          <div class="form-row mb-2">
            <div class="col-md-2">
              <label>Name: </label>
            </div>
            <div class="col-md-9">
              <p class="card-text">{{ user.FirstName }} {{ user.LastName }}</p>
            </div>
          </div>
          <div class="form-row mb-2">
            <div class="col-md-2">
              <label>Email: </label>
            </div>
            <div class="col-md-9">
              <p class="card-text">{{ user.Email }}</p>
            </div>
          </div>
          <!-- <p class="card-text">{{ users.LastName }}</p> -->
          <div class="form-row">
            <div class="col-md-2">
              <label>Phone: </label>
            </div>
            <div class="col-md-9">
              <p class="card-text">{{ user.Phone }}</p>
            </div>
          </div>
          <div class="text-right">
            <button
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
              [routerLink]="['/users']"
            >
              OK
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
