<div class="row">
    <div class="col-md-2 mb-3 mt-3">
        <button class="btn btn-primary btn-sm" (click)="onBack()">
            <!-- onclick -->
            < </button>
    </div>
    <div class="col-md-8 mb-3"></div>
    <!-- Needs to return to Login page not home -->
    <div class="col-md-2 mb-3 mt-3 text-right">
        <button class="btn btn-primary btn-sm" [routerLink]="['/home']">
            Log out
        </button>
    </div>
</div>
<div class="card shadow-lg mb-5 bg-white rounded">
    <div class="card-body">
        <div class="card-title mb-3 ">
            <h3 class="text-center">Create User</h3>
        </div>
        <form #form="ngForm" ngNativeValidate>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="first-name">First Name</label>
                    <input type="text" class="form-control" id="first-name"
                        placeholder="John" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="last-name">Last Name</label>
                    <input type="text" class="form-control" id="last-name"
                        placeholder="Doe" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email"
                        placeholder="Example@gmail.com"
                        required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="phone">Phone Number</label>
                    <input type="email" class="form-control" id="phone"
                        placeholder="e.g. 999-999-9999"
                        required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password"
                        required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm-password"
                        required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="job-role">Select Job Role</label>
                    <select class="custom-select">
                        <option selected>Job Role</option>
                        <option value="1">Role One</option>
                        <option value="2">Role Two</option>
                        <option value="3">Role Three</option>
                    </select>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary col-md-2" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
<br>