.card-body {
  background-color: #f8f9fa;
}
.card-title {
  background-color: #4d749c;
  color: white;
  padding: 10px;
}
input,
.custom-select {
  background-color: #e9ecef;
}
.btn-primary {
  background-color: #4d749c;
  border-color: #4d749c;
}
