.card-body {
  background-color: #f8f9fa;
}
.card-title {
  background-color: #4d749c;
  color: white;
  padding: 10px;
}
.btn-primary {
  background-color: #4d749c;
  border-color: #4d749c;
}
h5 {
  color: #495057;
}
.my-form {
  border: 1.5px #bfc7cf solid;
  padding: 1rem;
}
